# Add your own IQAir API key here. You can get one for free at https://www.iqair.com/air-pollution-data-api
IQAIR_API_KEY='your_api_key_here'

# The base URL for IQAIR API calls. Should not need to be changed unless IQAir changes their API endpoint.
IQAIR_BASE_URL='http://api.airvisual.com/v2/'

# Add your own OpenWeatherMap API key here. You can get one for free at https://home.openweathermap.org/api_keys
OWM_API_KEY='your_api_key_here'

# The base URLs for OpenWeatherMap API calls. Should not need to be changed unless OpenWeatherMap changes their API endpoint.
OWM_ONECALL_BASE_URL='https://api.openweathermap.org/data/3.0/onecall'
OWM_GEO_BASE_URL='https://api.openweathermap.org/geo/1.0/'

# The base directory of the installation.
BASE_DIR='/your/project/root/directory'

# Are we saving to CSV?
USE_CSV='true'

# DB connection details, if we're using one
USE_DB='true' # If true, we have a DB. If false, we don't

# The DB type: sqlite (default), postgresql, mysql...
DB_TYPE='sqlite'

# DB login credentials
DB_USER=
DB_PASS=

# DB server hostname
DB_HOST=

# DB server listening port
DB_PORT=

# The database name
DB_NAME='air_quality_monitor'

# The logging level required.
# Possible values are (from most to least verbose): DEBUG, INFO (default), WARNING, ERROR, CRITICAL
LOG_LEVEL='INFO'

# Production switch. Set to 'true' for production, false for test/dev
# So far only decides the file with the list of cities - cities.json for prod, cities_dev.json otherwise
IS_PRODUCTION='false'