# Add your own IQAir API key here. You can get one for free at https://www.iqair.com/air-pollution-data-api
IQAIR_API_KEY='your_api_key_here'

# Add your own OpenWeatherMap API key here. You can get one for free at https://home.openweathermap.org/api_keys
OWM_API_KEY='your_api_key_here'

# The base URL for IQAIR API calls. Should not need to be changed unless IQAir changes their API endpoint.
IQAIR_BASE_URL='http://api.airvisual.com/v2/'

# The base URLs for OpenWeatherMap API calls. Should not need to be changed unless OpenWeatherMap changes their API endpoint.
OWM_ONECALL_BASE_URL='https://api.openweathermap.org/data/3.0/onecall'
OWM_GEO_BASE_URL='https://api.openweathermap.org/geo/1.0/'

# The base directory of the installation.
BASE_DIR='/your/project/root/directory'

# Location of the JSON file containing cities list for non-interactive mode
CITY_LIST='${BASE_DIR}/config/cities.json'

# The log file location & logging level required.
# Possible values are (from most to least verbose): DEBUG, INFO (default), WARNING, ERROR, CRITICAL
LOG_DIR='${BASE_DIR}/log'
LOG_LEVEL='INFO'
